<div class="container">
    <div class="col-lg-3">
        <fieldset>
            <legend>Finance your</legend>
            <h2>Dream Home In The Woodlands</h2>
        </fieldset>
    </div>
    <div class="col-lg-3">
        <fieldset>
            <legend>The secret</legend>
            <h2>To Selling Your Home</h2>
        </fieldset>
    </div>
    <div class="col-lg-3">
        <fieldset>
            <legend>What is</legend>
            <h2>My Home</h2>
        </fieldset>
    </div>
    <div class="col-lg-3">
        <fieldset>
            <legend>New</legend>
            <h2>COnstruction</h2>
        </fieldset>
    </div>
</div>