<div class="container">
    <div class="text-center">
        <h1>Featured Properties</h1>
        <hr>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="text-left">
                <hr class="hrprevous">
                <label for="">Prevous</label>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="text-right">
                <hr class="hrnext">
                <label for="">Next</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="col-lg-6">
                <div class="thumbnail">
                    <img src="../../../assets/casa2.jpg">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <label for="">$2'000.000</label>
                </div>
                <div class="row">
                    <p>Calle 123</p>
                </div>
                <div class="row">
                    <p>Colombia</p>
                </div>
                <div class="row">
                    <select name="" id="">
                        <option value="1">View Properties Details</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="col-lg-6">
                <div class="thumbnail">
                    <img src="../../../assets/casa6.jpg">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="row">
                    <label for="">$2'000.000</label>
                </div>
                <div class="row">
                    <p>Calle 123</p>
                </div>
                <div class="row">
                    <p>Colombia</p>
                </div>
                <div class="row">
                    <select name="" id="">
                        <option value="1">View Properties Details</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>