<div class="fondo">

    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-logo" href="">
                    <img class="img" src="../../../assets/logo.jpg">
                </a>
            </div>
            <div class="row">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="">
                            <span class="glyphicon glyphicon-earphone" aria-hidden="true"></span>
                            936.760.7800
                        </a></li>
                </ul>
            </div>
            <div class="row">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="">Agents</a></li>
                    <li><a href="">Our Listings</a></li>
                    <li><a href="">Buy</a></li>
                    <li><a href="">Sell</a></li>
                    <li class="active"><a href="#">Finance<span class="sr-only">(current)</span></a></li>
                    <li><a href="">My Beighbordhoods</a></li>
                    <li><a href="">Contacts</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="busqueda">
        <nav class="navbar navbar-inverse">
            <form class="navbar-form" role="search">
                <div class="form-group">
                    <select name="tipo" id="tipo" style="width:150px">
                        <option value="1">Type</option>
                    </select>
                    <select name="tipo" id="tipo" style="width:150px">
                        <option value="1">Key</option>
                    </select>
                    <input type="text" placeholder="Lugar" style="width:150px">
                    <input type="text" placeholder="Pais" style="width:150px">
                    <input type="text" placeholder="Barrio" style="width:150px">
                    <input type="text" placeholder="Año" style="width:150px">
                    <input type="text" placeholder="Rural" style="width:150px">
                </div>
                <button type="submit" class="btn btn-success">Search</button>
                <button type="submit" class="btn btn-danger">Advanced</button>
            </form>
        </nav>
    </div>
</div>