<div class="footer">
    <nav class="navbar navbar-inverse">
        <div class="container">
            <div class="row">
                <ul class="nav navbar-nav navbar-left">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Blog</a></li>
                    <li><a href="">Agents</a></li>
                    <li><a href="">Our Listings</a></li>
                    <li><a href="">Buy</a></li>
                    <li><a href="">Sell</a></li>
                    <li class="active"><a href="#">Finance<span class="sr-only">(current)</span></a></li>
                    <li><a href="">My Beighbordhoods</a></li>
                    <li><a href="">Contacts</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href=""><span class="glyphicon glyphicon-home" aria-hidden="true"></span> MLS <span class="
                        glyphicon glyphicon-object-align-right" aria-hidden="true"></span></a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>