<div class="veci">
    <div class="container">
        <div class="text-center">
            <h1>Featured Neighbordhoods</h1>
            <hr>
        </div>
        <br>
        <div class="row">
            <div class="col-lg-3">
                <div class="thumbnail">
                    <img src="../../../assets/casa1.jpg">
                    <div class="texto-encima">
                        <label for=""> The Woodlands</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="thumbnail">
                    <img src="../../../assets/casa2.jpg">
                    <div class="texto-encima">
                        <label for="">Springs</label>
                    </div>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="thumbnail">
                    <img src="../../../assets/casa3.jpg">
                    <div class="texto-encima">
                        <label for="">Magnolia</label>
                    </div>

                </div>
            </div>
            <div class="col-lg-3">
                <div class="thumbnail">
                    <img src="../../../assets/casa4.jpg">
                    <div class="texto-encima">
                        <label for="">Montgomery</label>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-3">
                <div class="thumbnail">
                    <img src="../../../assets/casa5.jpg">
                    <div class="texto-encima">
                        <label for="">Lake Conde</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="thumbnail">
                    <img src="../../../assets/casa6.jpg">
                    <div class="texto-encima">
                        <label for="">Kingswood</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="thumbnail">
                    <img src="../../../assets/casa7.jpg">
                    <div class="texto-encima">
                        <label for="">Willis</label>
                    </div>
                </div>
            </div>
            <div class="col-lg-3">
                <div class="thumbnail">
                    <img src="../../../assets/casa8.jpg">
                    <div class="texto-encima">
                        <label for="">Conrde</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>