<div class="blog">
    <div class="container">
        <div class="col-lg-6">
            <div class="row">
                <h3>Latest blogs post</h3>
            </div>
            <div class="row">
                <label for="">Nulman Serm</label>
                <p>November 11, 2014</p>
            </div>
            <hr>
            <div class="row">
                <label for="">Vitae Tempor</label>
                <p>November 19, 2014</p>
            </div>
            <hr>
            <div class="row">
                <label for="">Tempor Dui</label>
                <p>December 11, 2014</p>
            </div>
            <hr>
            <div class="row">
                <select name="" id="">
                    <option value="1">More</option>
                </select>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="row">
                <div class="jumbotron">
                    <div class="row">
                        <h2>Weichert</h2>
                        <p>Introus in The Woodsland</p>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-lg-6">
                            <p>Phone</p>
                            <h2>(281)8090089</h2>
                        </div>
                        <div class="col-lg-6">
                            <p>Addres</p>
                            <h2>3875 West Davis st. Suite</h2>
                        </div>
                    </div>
                    <hr>
                    <div class="row">
                        <div class="text-right">
                            <h2>Weichert</h2>
                            <h3>Realtors</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>